<app-loader></app-loader>
<div class="LoginHeader" *ngIf="LoginHeader">
<h1 class="title">Choose username to log in</h1>
<input type="search" #searchinput/>
<div class="list">
<mat-list  *ngFor="let user of users">
 <p mat-list-item (click)="logIn(user.username,user.password)">{{user.username}}</p>
</mat-list>
</div>
</div>
<div class="CategoryHeader"  *ngIf="CategoryHeader">
<h1 class="title" >Categories</h1>
<div class="list">
<mat-list class="categories_list" *ngFor="let category of categories">
  <p mat-list-item (click)="getData(category)">{{category}}</p>
</mat-list>
</div>
</div>