@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(241, 244, 245);}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}